.main { 
    background-color: #eae7cd; 
    border-radius: 15px; 
    box-shadow: 0 0 20px #8e8d8a; 
    padding: 10px 20px; 
    width: 500px; 
    text-align: center; 
    
}  


#login-page { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-family: sans-serif; 
    line-height: 1.5; 
    min-height: 100vh; 
    background: #f3f3f3;   
    margin: 0; 
    background-image: url('bck_3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

label {
    display: block;
    width: 100%;
    font-weight: bolder;
    color: black;
    text-align: left;
    margin-top: 15px;
}

input {
    display: block; 
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd; 
    border-radius: 5px; 
}

#recover-password {
    font-size: 13px;
}

button {
    margin-bottom: 10px;
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #e85a4f;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
}

h1 {
    color: #e85a4f;
}

.wrap { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

#main-page-footer {
    background-color: #8e8d8a;
    color: white;
    text-align: center;
    padding: 2px;
    position: fixed;
    bottom: 0;
    width: 100%;
    

}

.header-login {
    display: flex;
    background-color: rgba(255, 255, 255, 0.2);
    width: 25%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

#main-logo {
    max-width: 100px;
    height: auto;
}
